.icon{
    width: 200px;
    height: 100px;
}

.title-bar{
    height: 200;
}

li{
    list-style-type: none;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#scrollTop{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#mapid { height: 280px; }

.current-temp > img, .current-humidity > img,  .current-wind > img{
    width: 50px;
    height: 50px;
}

@font-face{
    font-family: 'mywebdigitalfont';
    src: url('../font/digital-7.ttf') format('truetype'),
         url('../font/digital-7\ \(italic\).ttf') format('truetype'),
         url('../font/digital-7\ \(mono\ italic\).ttf') format('truetype'),
         url('../font/digital-7\ \(mono\).ttf') format('truetype');
}